@model Memberships.Areas.Admin.Models.SubscriptionProductModel
@using Memberships.Areas.Admin.Models;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subscription Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.SubscriptionTitle)</dt>
        <dd> @Html.DisplayFor(model => model.SubscriptionTitle)</dd>
        <dt> @Html.DisplayNameFor(model => model.ProductTitle)</dt>
        <dd> @Html.DisplayFor(model => model.ProductTitle)</dd>
    </dl>
</div>
<p>
    @Html.Partial("_EditButtonDetailPartial", new EditButtonModel
       {
           SubscriptionId = Model.SubscriptionId,
           ProductId = Model.ProductId
       })
    @Html.Partial("_BackToListButtonPartial")
</p>
